body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 100px;
}

button {
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
}

#eagle {
    width: 300px;
    height: 100px;
}

#trips {
    width: 50px;
    height: 50px;
}

#menu {
    width: 50px;
    height: 50px;
}
#driver {
    width: 50px;
    height: 50px;
}